[Unit]
Description=NerdyMonitorDaemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nmd
Restart=on-failure

[Install]
WantedBy=multi-user.target
